fastapi
openai
uvicorn
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
langchain-qdrant
langfuse==2.53.9
qdrant-client
python-multipart
pypdf
gunicorn
paddlepaddle==3.0.0rc1
pdfminer.six==20231228
pydantic==2.10.6
lxml==5.3.0
pillow==11.1.0
matplotlib==3.10.0
tiktoken==0.8.0
open_clip_torch==2.30.0 
torch==2.5.1
numpy==1.26.4
streamlit==1.41.1